* {
  box-sizing: border-box;
}

.board {
  display: inline-flex;
  background-color: antiquewhite;

  .rod {
    display: flex;
    flex-direction: column-reverse;
    height: 300px;
    width: 150px;
    border: 1px solid black;
    border-right: 0;

    &:last-of-type {
      border: 1px solid black;
    }

    background-image: url("images/rod.svg");
    background-size: 10px 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  .disk {
    border: 1px solid black;
    border-radius: 4px;
    align-self: center;

    background-color: cadetblue;

    height: 20px;
    width: calc(100% - 4px - 20px * var(--disk-index));

    &-selected {
      margin-bottom: auto;
    }
  }
}
