html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.board {
  display: flex;
  margin-top: 60px;
  justify-content: center;

  .rod {
    display: flex;
    flex-direction: column-reverse;

    position: relative;
    background-color: antiquewhite;

    padding-bottom: 10px;
    height: 300px;
    width: 150px;

    background-image: url("images/rod.svg");
    background-size: 10px 100%;
    background-repeat: no-repeat;
    background-position: center bottom;

    &:after {
      content: "";
      width: 10px;
      height: 150px;
      position: absolute;
      left: 5px;
      bottom: 10px;

      background-image: url("images/rod.svg");
      background-size: 10px calc(100% - 10px);
      background-repeat: no-repeat;
      background-position: left bottom;
      transform-origin: left bottom;
      transform: rotate(90deg);
    }
  }

  .disk {
    border: 1px solid black;
    border-radius: 4px;
    align-self: center;

    background-color: cadetblue;

    height: 20px;
    width: calc(100% - 14px - 16px * var(--disk-index));

    &-selected {
      margin-bottom: auto;
    }
  }
}
